<nav class="navbar navbar-expand-lg navbar-light bg -light" style="background-color: #201e1e;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista" style="color: white;">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dados" style="color: white;">Novo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
